{
  "presets": [
    [
      "env", {
      "targets": {
        "node": "current"
      }
    }
    ]
  ],
  "plugins": [
    "dynamic-import-node",
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "babel-plugin-transform-builtin-extend", {
      "globals": [ "Error" ]
    }
    ]
  ],
  "env": {
    "production": {
      "ignore": [
        "**/__tests__",
        "**/__mocks__"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "development": {
      "ignore": [
        "**/__tests__",
        "**/__mocks__"
      ]
    }
  }
}
