{
  "parser": "babel-eslint",
  "extends": ["airbnb", "eslint:recommended", "plugin:prettier/recommended", "plugin:jest/recommended"],
  "globals": {
    "APP_ID": false,
    "APP_SECRET": false
  },
  "env": {
    "browser": false,
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": ["import", "prettier", "jest"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    // eslint
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "always"],
    "arrow-spacing": "error",
    "camelcase": ["off"],
    "comma-dangle": ["error", "always-multiline"],
    "curly": "error",
    "default-case": "error",
    "dot-notation": "warn",
    "eqeqeq": "error",
    "max-len": [
      "warn",
      {
        "code": 180,
        "ignoreUrls": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "newline-per-chained-call": "off",
    "no-alert": "warn",
    "no-confusing-arrow": "off",
    "no-duplicate-imports": [
      "error",
      {
        "includeExports": true
      }
    ],
    "no-else-return": "error",
    "no-eq-null": "error",
    "no-extra-bind": "error",
    "no-lone-blocks": "error",
    "no-multiple-empty-lines": "error",
    "no-nested-ternary": ["error"],
    "no-param-reassign": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-self-compare": "error",
    "no-template-curly-in-string": "error",
    "no-underscore-dangle": [
      "warn",
      {
        "allowAfterSuper": true,
        "enforceInMethodNames": true
      }
    ],
    "no-useless-concat": "error",
    "no-useless-constructor": "error",
    "no-useless-escape": "error",
    "no-var": "error",
    "prefer-const": "error",
    "prefer-promise-reject-errors": "off",
    "prefer-template": "error",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "always"
      }
    ],
    "require-await": "error",
    "spaced-comment": "error",
    "symbol-description": "error",
    "object-curly-spacing": ["error", "always"],
    "no-use-before-define": 0,
    "allowForLoopAfterthoughts": true,
    // import
    "import/extensions": "off",
    "import/newline-after-import": [
      "error",
      {
        "count": 1
      }
    ],
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "off",
    "import/no-unresolved": "off",
    "import/order": "off",
    "import/prefer-default-export": "off",
    "import/imports-first": 0,
    // jest
    "jest/no-focused-tests": 2,
    "jest/no-identical-title": 2,
    "jest/consistent-test-it": [
      "error",
      {
        "fn": "it"
      }
    ],
    "jest/lowercase-name": "error",
    "jest/no-test-prefixes": "error",
    "jest/prefer-to-be-null": "error",
    "jest/prefer-to-be-undefined": "error",
    "jest/valid-describe": "error",
    "jest/valid-expect-in-promise": "error"
  }
}
